.hyperlink :hover {
    color: #de9e36;
    text-decoration: underline;
}
.hyperlink {
    color: #de9e36;
    text-decoration: underline;
}
.paragraph{
    color: #585858;
}
.display-404 h2{
    font-weight: 200 !important;
}